.device {
  width: 100%;
  max-width: 1112px;
  margin-top: 29px;
  margin-left: 24px;
  &--title {
    display: initial;
    width: 200px;
    height: 36px;
    h2 {
      font-size: 24px;
      font-weight: var(--font-weight-700);
      line-height: calc(36 / 24);
      color: var(--background-orange-500);
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 16px;

    &--default {
      font-size: 16px;
      font-weight: var(--font-weight-600);
      line-height: calc(24 / 16);
      margin-bottom: 4px;
    }

    &--tthd {
      margin-right: 24px;
    }

    &--ttkn {
      margin-right: 188px;
    }
  }

  &--tables {
    display: flex;

    &__pagination {
      .ant-pagination-item {
        border: none;
      }
      .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
      .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
        color: #7e7d88;
        transform: translateY(10px);
        font-weight: var(--font-weight-600);
      }
      .ant-pagination-item-active {
        background: var(--background-orange-500);
        border: none;
        border-radius: 4px;
      }
      .ant-pagination-item-active a {
        color: #ffffff;
      }
      .ant-pagination-item-active:hover a {
        color: #ffffff;
      }

      .ant-pagination-prev .ant-pagination-item-link,
      .ant-pagination-next .ant-pagination-item-link {
        border: none;
      }
      .anticon {
        font-size: var(--text-font-size);
        color: var(--text-color-gray-3);
      }
    }
  }

  &--add__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80px;
    height: 94px;

    margin-left: 17px;
    background-color: var(--background-orange-50);

    h4 {
      font-size: 14px;
      line-height: calc(19.1 / 14);
      font-weight: var(--font-weight-600);
      color: var(--background-orange-500);
    }
  }
}

.ant-input-affix-wrapper {
  flex-direction: row-reverse;
}
