#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.icon img {
  width: 20px;
}

.ant-layout-sider-trigger {
    display: none;
}

.icon-logout img{
    margin-right: 5px;
}