.device {
  width: 100%;
  max-width: 1112px;
  margin-top: 29px;

  &-title {
    display: initial;
    width: 200px;
    height: 36px;
    h2 {
      font-size: 24px;
      font-weight: var(--font-weight-700);
      line-height: calc(36 / 24);
      color: var(--background-orange-500);
    }
  }

  .actions {
    margin-top: 16px;
    display: flex;
    flex-direction: row;

    &-default {
      font-size: 16px;
      font-weight: var(--font-weight-600);
      line-height: calc(24 / 16);
      margin-bottom: 4px;
    }

    &-tthd {
      margin-right: 24px;
    }

    &-ttkn {
      margin-right: 188px;
    }
  }
}

.ant-input-affix-wrapper {
  flex-direction: row-reverse;
}
.anticon {
  color: var(--background-orange-500) !important;
}
