.search {
  position: relative;

  &-input {
    border-radius: 8px !important;
  }

  &-icon {
    position: absolute;
    right: 16px;
    top: 12.5%;
    bottom: 20.83%;

    img {
      width: 13.33px;
      height: 13.33px;
    }
  }
}
